In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np
from numpy import NaN as NA

In [2]:
series = Series([1,-999,2,-999,-1000,3])

In [3]:
series

0       1
1    -999
2       2
3    -999
4   -1000
5       3
dtype: int64

In [4]:
# 对为-999的数据进行替换
series.replace(-999,0)

0       1
1       0
2       2
3       0
4   -1000
5       3
dtype: int64

In [5]:
# 对series多个数据进行替换,换成统一的值
series.replace([-999,-1000],NA)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [9]:
# 针对不同的值进行不同的替换
series.replace({-999:NA,-1000:'NA2'})
series.replace([-999,-1000],[123,321])# 这个是对应替换

0      1
1    123
2      2
3    123
4    321
5      3
dtype: int64