In [34]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np
import sys

In [2]:
pd.read_csv('data/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_table('data/ex1.csv') # 默认分割符是使用\t，所以下面读取的是一列

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [6]:
pd.read_table('data/ex1.csv',sep=',') # 默认分割符是使用\t，指定用 逗号  分割

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
# 读取的csv文件米有标题
pd.read_csv('data/ex2.csv') # 没有标题就把第一行当做标题了

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [10]:
pd.read_csv('data/ex2.csv',header=None) # 指定无标题

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('data/ex2.csv',names=['a','b','c','d','message']) # 指定列索引，注意索引要和列数一致，要不就会出问题

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
pd.read_csv('data/ex2.csv',names=['a','b','c','d','message'],index_col='message') # 指定行索引,把列中message列作为行索引

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
# 将读取的数据进行层次化索引
pd.read_csv('data/csv_mindex.csv',index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [18]:
# 读取文本文件
list(open('data/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [19]:
pd.read_table('data/ex3.txt',sep='\s+') # 匹配到空位分隔符

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
# 通过skiprows 跳过一些行
pd.read_csv('data/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [25]:
# 加载存在none值的数据文件
pd.read_csv('data/ex5.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [43]:
# 加载存在none值的数据文件
data = pd.read_csv('data/ex5.csv',na_values=[1]) # na_values=[1] 这个是把原有数据里面的1 替换为了NaN值

In [29]:
sentlines = {'message':['foo','NA'],'something':['two']}
pd.read_csv('data/ex5.csv',na_values=sentlines) # 将原始数据中指定的列中的指定某些数据替换为NaN

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [41]:
# 用pandas 将数据写入到csv文件中
df = DataFrame(np.random.randn(4,3),columns=list('abc'),index='one,two,three,four'.split(','))
df

              a         b         c
one    0.267337  1.303107 -0.940131
two    1.102288  0.518724  0.082856
three -1.580775  0.436842 -0.638761
four  -0.664806  0.959132 -0.096051

In [33]:
df.to_csv('mydata.csv')

In [35]:
df.to_csv(sys.stdout,sep='|') # 输出到控制台

|a|b|c
one|0.7506904499388205|0.49453769932086317|0.3630545350506799
two|1.070130746333489|-0.2906603098143116|1.3071640507767979
three|-0.27728676772296057|1.6513731251844062|2.335602253978051
four|0.43581357654017716|-0.22138235987057148|0.6059923121558313

In [37]:
# 之写入数据，不写入行和列的索引
df.to_csv(sys.stdout,header=False,index=False)

0.7506904499388205,0.49453769932086317,0.3630545350506799
1.070130746333489,-0.2906603098143116,1.3071640507767979
-0.27728676772296057,1.6513731251844062,2.335602253978051
0.43581357654017716,-0.22138235987057148,0.6059923121558313

In [44]:
# 通过columns 指定需要写入文件的列
data.to_csv(sys.stdout,index=False,columns=['a','c','message'])

a,c,message
,3.0,
5.0,,world
9.0,11.0,foo