In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np
from numpy import NaN as NA

In [3]:
# 层次化索引                                       外层索引      内层索引
data = Series(np.random.randn(10),index= [list("aaabbbccdd"),[1,2,3,1,2,3,1,2,2,3]]) 
data

a  1    2.167145
   2    1.010400
   3    1.505437
b  1   -0.437309
   2   -0.451244
   3   -0.808928
c  1    0.256672
   2    0.325868
d  2    0.979971
   3    0.554857
dtype: float64

In [8]:
ss = data.unstack() # 将第二层行索引转换为列索引
type(ss)

pandas.core.frame.DataFrame

In [11]:
col = ss.stack() # 将列索引转为行索引
type(col)

pandas.core.series.Series

In [12]:
# DataFrame 中的行索引和列索引的重塑和转换
data = DataFrame(np.arange(6).reshape(2,3),
                index=pd.Index(["上海","北京"],name="省份"),
                columns=pd.Index([2011,2012,2013],name="年份"))
data

年份  2011  2012  2013
省份
上海     0     1     2
北京     3     4     5

In [15]:
# 将列索引转换为行索引：
tmp = data.stack()
tmp

省份  年份
上海  2011    0
    2012    1
    2013    2
北京  2011    3
    2012    4
    2013    5
dtype: int32

In [16]:
# 将行索引转换为列索引
tmp.unstack()

年份  2011  2012  2013
省份
上海     0     1     2
北京     3     4     5

In [21]:
# 能否由层次化的行索引转换到列索引的时候，能否指定需要转换的行索引的层级

# unstack默认转换的是最内层的层次化索引
tmp.unstack(0) # 指定层次化索引的名称，0转换最外层
tmp.unstack().T

省份    上海  北京
年份
2011   0   3
2012   1   4
2013   2   5

In [26]:
data_1 = DataFrame(np.arange(6).reshape(2,3),index=pd.Index(["Ohio","Colorado"],name="state"),
                columns=pd.Index(["one","two","three"],name="numbers"))
result = data_1.stack()

In [27]:
result

state     numbers
Ohio      one        0
          two        1
          three      2
Colorado  one        3
          two        4
          three      5
dtype: int32

In [30]:
df = DataFrame({"left":result,
               "right":result+5},
              columns=pd.Index(["left","right"],name="side"))

In [31]:
df

side              left  right
state    numbers
Ohio     one         0      5
         two         1      6
         three       2      7
Colorado one         3      8
         two         4      9
         three       5     10

In [32]:
df.unstack()

side     left           right
numbers   one two three   one two three
state
Ohio        0   1     2     5   6     7
Colorado    3   4     5     8   9    10

In [34]:
dfs = df.unstack('state')# 转换后的被转换的索引层会变为内层
dfs

side    left          right
state   Ohio Colorado  Ohio Colorado
numbers
one        0        3     5        8
two        1        4     6        9
three      2        5     7       10

In [35]:
dfs.unstack()

side   state     numbers
left   Ohio      one         0
                 two         1
                 three       2
       Colorado  one         3
                 two         4
                 three       5
right  Ohio      one         5
                 two         6
                 three       7
       Colorado  one         8
                 two         9
                 three      10
dtype: int32

In [37]:
s1 = Series([0,1,2,3],index=list('abcd'))
s2 = Series([4,5,6],index=list('cde'))
# 将s1和s2拼接成一个具有层次化索引的结构
ree = pd.concat([s1,s2],keys=['one','two'])
ree

one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64

In [39]:
temp = ree.unstack()
temp

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

In [41]:
temp.stack(dropna=False) # 通过这个False设置保留了NaN值，变为了一个不可逆的过程

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
two  a    NaN
     b    NaN
     c    4.0
     d    5.0
     e    6.0
dtype: float64