In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [3]:
df = DataFrame(np.random.randn(4,3),columns=list("abc"),index="one,two,three,four".split(','))
df

              a         b         c
one   -0.942328  0.357024  0.988737
two   -1.337326 -0.220048  0.106239
three -0.058298  2.599891  0.050543
four   0.400356  0.388720  0.990943

In [4]:
np.abs(df)

              a         b         c
one    0.942328  0.357024  0.988737
two    1.337326  0.220048  0.106239
three  0.058298  2.599891  0.050543
four   0.400356  0.388720  0.990943

In [5]:
# 求每一列的最大值和最小值之差
f = lambda x : x.max() - x.min()

In [6]:
# 按照列的方向使用函数
df.apply(f)

a    1.737681
b    2.819939
c    0.940400
dtype: float64

In [7]:
# 按照行的方向使用函数
df.apply(f,axis=1)

one      1.931066
two      1.443565
three    2.658189
four     0.602224
dtype: float64

In [10]:
f1 = lambda x : "%.2f"%x
# def f1(x):
#    return "%.2f"%x
# 
#对DataFrame中的每一个元素使用函数进行映射
df.applymap(f1)

           a      b     c
one    -0.94   0.36  0.99
two    -1.34  -0.22  0.11
three  -0.06   2.60  0.05
four    0.40   0.39  0.99

In [11]:
# DataFrame中 apply() 方法和applymap()区别
# apply()对整行元素或整列元素进行操作
# applymap() 对DataFrame中的每一个数据进行操作

In [14]:
# 对Series数据进行map操作也是可以的
df.c.map(f1)

one      0.99
two      0.11
three    0.05
four     0.99
Name: c, dtype: object