In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np
from numpy import nan as NA

In [2]:
df = DataFrame([
    [1.4,NA],
    [7.1,-4.5],
    [NA,NA],
    [0.75,-1.3]
],index=list('abcd'),columns="one,two".split(','))
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [5]:
# 求和，默认省略none值
df.sum()
df.sum(axis=1) # 按照行求和

SyntaxError: invalid character in identifier (<ipython-input-5-2df3f12f1c2e>, line 3)

In [8]:
# 求平均 默认排除nan值，不参与运算
df.mean()
df.mean(skipna=False)

one   NaN
two   NaN
dtype: float64

In [9]:
# 累积求和，默认按照列方向进行
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [10]:
# 统计数据的简单描述
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [14]:
# 查看DataFrame数据信息
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 2 columns):
one    3 non-null float64
two    2 non-null float64
dtypes: float64(2)
memory usage: 256.0+ bytes

In [12]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [15]:
# 查看series中的describe
series = Series(['a','a','b','c']*4)

In [16]:
series.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [17]:
# 查看series中的describe
series1 = Series([1,2,3,4]*4)
series1.describe()

count    16.000000
mean      2.500000
std       1.154701
min       1.000000
25%       1.750000
50%       2.500000
75%       3.250000
max       4.000000
dtype: float64

In [18]:
# 根据数据类型不同describe统计数据会有差异

In [20]:
# 
series1.unique()

array([1, 2, 3, 4], dtype=int64)

In [22]:
pd.value_counts(series1.values,sort=False,ascending=False) #统计出现的频率次数

1    4
2    4
3    4
4    4
dtype: int64

In [24]:
mask = series1.isin([1,2]) # 通过这个可以进行数据的筛选

In [25]:
series1[mask]

0     1
1     2
4     1
5     2
8     1
9     2
12    1
13    2
dtype: int64