In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [2]:
# Series行索引
obj = Series(np.arange(3),index=['a','b','c'])
obj

a    0
b    1
c    2
dtype: int32

In [3]:
obj.index = ['c','b','a']

In [4]:
index = obj.index

In [5]:
index

Index(['c', 'b', 'a'], dtype='object')

In [6]:
# 通过index获取Series的行索引
index[1]

'b'

In [7]:
# 通过切片获取series的多个数据
index[0:1]

Index(['c'], dtype='object')

In [8]:
# index类型数据不支持修改series的行索引
index[1] =7

TypeError: Index does not support mutable operations

In [11]:
# 删除DataFrame中的多列数据
df = DataFrame(np.arange(16).reshape(4,4),index=['安徽','湖南','北京','山东'],columns=['one','two','three','four'])
df

    one  two  three  four
安徽    0    1      2     3
湖南    4    5      6     7
北京    8    9     10    11
山东   12   13     14    15

In [12]:
# 删除指定行
df.drop("北京")
# 删除两行
df.drop(['安徽','山东'])

    one  two  three  four
湖南    4    5      6     7
北京    8    9     10    11

In [13]:
df

    one  two  three  four
安徽    0    1      2     3
湖南    4    5      6     7
北京    8    9     10    11
山东   12   13     14    15

In [16]:
# 删除指定列,需要指定参数axis 为1 这样是删除指定列
df.drop(['one','two'],axis=1)

    three  four
安徽      2     3
湖南      6     7
北京     10    11
山东     14    15