In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [3]:
series1 = Series(np.arange(4),index=list('dabc'))
series1

d    0
a    1
b    2
c    3
dtype: int32

In [4]:
# 对series的索引进行排序 ;对应值也相应排序
series1.sort_index()

a    1
b    2
c    3
d    0
dtype: int32

In [6]:
# 对DataFrame中的缩影进行排序：行索引，列索引
df1 = DataFrame(np.arange(8).reshape(2,4),index='three,one'.split(','),columns=list("dabc"))
df1

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [7]:
# 对行索引进行排序
df1.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [8]:
# 对列索引进行排序axis,默认升序
df1.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [9]:
# 对列索引进行排序axis=1,ascending 控制升降序
df1.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [13]:
# 对数据进行排序 by表示通过那一列进行排序，ascending表示是否升序
df1.sort_values(by='b',ascending=False)
df1.sort_values(by=['b','c'],ascending=False)

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [16]:
# 判断索引是否唯一
s1 = Series(range(5),index=list('aabbc'))
s1.index.is_unique # false代表有重复值

False

In [19]:
# pandas求个，可以按照列求和，也可以按照行求和
df1.sum()
df1.sum(axis=1)

three     6
one      22
dtype: int64

In [ ]:
#