# 作业- 数据过滤和排序



### Step 1. 导入相应的模块

In [3]:
from pandas import Series,DataFrame
import pandas as pd

### Step 3. 导入数据并赋值给变量 chipo，数据文件  dataset/chipotle.csv

In [4]:
#  读取
chipo = pd.read_csv('datasets/chipotle.csv',sep='\t',error_bad_lines=False,skiprows=[1])

In [5]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Izze,[Clementine],$3.39
1,1,1,Nantucket Nectar,[Apple],$3.39
2,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39

### Step 4. 计算出有多商品大于10美元

In [7]:
fint = lambda x: float(x[1:])
chipo['priceint'] = chipo['item_price'].agg(fint)
chipo.head(3)
def count_p(df,columns='priceint'):
    cont = 0
    for i in list(df[columns]):
        if i>10:
            cont += 1
    return cont
count_p(chipo)

# chipo["item_price"] = chipo["item_price"].str.replace('#','')
# chipo["item_price"] = pd.to_numeric(chipo["item_price"]) 
# (chipo["item_price"]>10).value_counts()

ValueError: Unable to parse string "$3.39 " at position 0

### 输出一个只包含两列， item_name 和 item_price的dataframe

In [36]:
chipo[['item_name','item_price']]

                                  item_name item_price
0                                      Izze     $3.39
1                          Nantucket Nectar     $3.39
2     Chips and Tomatillo-Green Chili Salsa     $2.39
3                              Chicken Bowl    $16.98
4                              Chicken Bowl    $10.98
5                             Side of Chips     $1.69
6                             Steak Burrito    $11.75
7                          Steak Soft Tacos     $9.25
8                             Steak Burrito     $9.25
9                       Chips and Guacamole     $4.45
10                     Chicken Crispy Tacos     $8.75
11                       Chicken Soft Tacos     $8.75
12                             Chicken Bowl    $11.25
13                      Chips and Guacamole     $4.45
14    Chips and Tomatillo-Green Chili Salsa     $2.39
15                          Chicken Burrito     $8.49
16                          Chicken Burrito     $8.49
17                              Canned Soda     $2.18
18                             Chicken Bowl     $8.75
19                      Chips and Guacamole     $4.45
20                         Barbacoa Burrito     $8.99
21                         Nantucket Nectar     $3.39
22                          Chicken Burrito    $10.98
23                                     Izze     $3.39
24             Chips and Fresh Tomato Salsa     $2.39
25                             Chicken Bowl     $8.49
26                         Carnitas Burrito     $8.99
27                              Canned Soda     $1.09
28                          Chicken Burrito     $8.49
29    Chips and Tomatillo-Green Chili Salsa     $2.39
...                                     ...        ...
4591                       Barbacoa Burrito    $11.75
4592                          Carnitas Bowl    $11.75
4593                          Barbacoa Bowl    $11.75
4594                           Chicken Bowl     $8.75
4595                    Chips and Guacamole     $4.45
4596                      Canned Soft Drink     $1.25
4597                          Bottled Water     $1.50
4598                           Chicken Bowl     $8.75
4599                    Chips and Guacamole     $4.45
4600                      Canned Soft Drink     $1.25
4601                       Barbacoa Burrito     $9.25
4602                       Barbacoa Burrito     $9.25
4603                           Chicken Bowl     $8.75
4604                    Chips and Guacamole     $4.45
4605                      Canned Soft Drink     $1.25
4606                          Steak Burrito    $11.75
4607                         Veggie Burrito    $11.25
4608                      Canned Soft Drink     $1.25
4609                          Steak Burrito    $11.75
4610                         Veggie Burrito    $11.25
4611                          Carnitas Bowl     $9.25
4612                                  Chips     $2.15
4613                          Bottled Water     $1.50
4614                     Chicken Soft Tacos     $8.75
4615                    Chips and Guacamole     $4.45
4616                          Steak Burrito    $11.75
4617                          Steak Burrito    $11.75
4618                     Chicken Salad Bowl    $11.25
4619                     Chicken Salad Bowl     $8.75
4620                     Chicken Salad Bowl     $8.75

[4621 rows x 2 columns]

### Step 6. 根据商品的价格对数据进行排序

In [49]:
sortchipo = chipo.sort_values('priceint')
sortchipo.head(3)

      order_id  quantity    item_name choice_description item_price  priceint
3497      1405         1  Canned Soda  [Diet Dr. Pepper]     $1.09       1.09
125         55         1  Canned Soda        [Coca Cola]     $1.09       1.09
3220      1288         1  Canned Soda     [Mountain Dew]     $1.09       1.09

### Step 7.在所有商品订单中 最贵商品的数量（quantity）是多少？

In [61]:
chipo.sort_values('priceint')
quantity=list(sortchipo[-1:]['quantity'])[0]
quantity

15

### Step 8. 在所有的商品订购单中，数据商品Veggie Salad Bowl的订单数有几条？

In [68]:
chipo.groupby('item_name').size()['Veggie Salad Bowl']

18

### Step 9. 在所有订单中，购买商品Canned Soda数量大于1的订单数有几条?

In [2]:
(chipo['quantity'].groupby(chipo['item_name'])>10).values()

NameError: name 'chipo' is not defined