# 作业

### Step 1. 导入相应的模块

In [2]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

### Step 2.加载数据（datasets/users.csv）

In [3]:
 test = pd.read_csv('datasets/users.csv',sep='|')

### Step 3. 将加载的数据集赋值给变量users.

In [4]:
users =  pd.read_csv('datasets/users.csv',sep='|')
users.head(3)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067

### Step 4. 以occupation分组，求每一种职业所有用户的平均年龄

In [5]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. 求每一种职业男性的占比，作为新的一列(male_pct)添加到数据集中,并按照从低到高的顺序排列

In [6]:
tmp = users.groupby(['occupation','gender']).size()/users.groupby(['occupation']).size()

# m_pct = tmp['M'].unstack()
tmp
 

# m_pct.unstack()
# def givef(dd):
#     if dd['occupation'] = 
# users.groupby(['occupation']).size()
# test['male_pct'] = users.groupby(['occupation','gender']).size()/users.groupby(['occupation']).size()

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
dtype: float64

### Step 6. 获取每一种职业对应的最大和最小的用户年龄

In [7]:
# users.groupby(['occupation'])['age'].max()
# users.groupby(['occupation'])['age'].min()
users.groupby(['occupation'])['age'].agg(['max','min'])

               max  min
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18