In [3]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [5]:
# 构建DataFrame的第一种方法
dictq= {
    "省份":["上海","浙江","江苏"],
    "年份":[2015,2016,2017],
    "人口":[0.8,1.2,1.3]
}
df = DataFrame(dictq)
df

    人口    年份  省份
0  0.8  2015  上海
1  1.2  2016  浙江
2  1.3  2017  江苏


   人口	年份	省份  # 这三个是列索引
0	0.8	2015	上海
1	1.2	2016	浙江
2	1.3	2017	江苏
 0,1,2航索引

In [6]:
# 自定义DataFrame列索引，保证 每一列的前后顺序
df2 = DataFrame(dictq,columns=["省份","年份","人口"]) # 没有的index会显示为空
df2

   省份    年份   人口
0  上海  2015  0.8
1  浙江  2016  1.2
2  江苏  2017  1.3

In [7]:
df3 = DataFrame(dictq,columns=["省份","年","人"]) # 没有的index会显示为空，以NaN填充
df3

   省份    年    人
0  上海  NaN  NaN
1  浙江  NaN  NaN
2  江苏  NaN  NaN

In [8]:
# 获取DataFrame数据
df["省份"]
df[0:1]
#获取多列
df[["省份","年份"]]
df.人口

0    0.8
1    1.2
2    1.3
Name: 人口, dtype: float64

In [9]:
df.loc[0] # 使用loc获取指定索引的行
df.iloc[0]

人口     0.8
年份    2015
省份      上海
Name: 0, dtype: object

In [10]:
# 向DataFrame中添加一列数据
df["财政赤字"] = [1.5,2.0,1.1]

In [11]:
df

    人口    年份  省份  财政赤字
0  0.8  2015  上海   1.5
1  1.2  2016  浙江   2.0
2  1.3  2017  江苏   1.1

In [12]:
# 用series构建DataFrame
series1 = Series([1,2,3],index=["one",'two','three'])
series1
df["财政赤字"] = series1 # 这个是错误的，因为索引不匹配
df
series2 = Series([1,2,3])
df["财政赤字"] = series2 # 如果将series中数据添加或者替换掉DataFrame一列数据一定要索引一致
df

    人口    年份  省份  财政赤字
0  0.8  2015  上海     1
1  1.2  2016  浙江     2
2  1.3  2017  江苏     3

In [13]:
# 获取DataFrame行索引
df.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
# 修改行索引
df.index = ["one",'two','three'] 
df.index = [0,1,2]

In [15]:
df.index

Int64Index([0, 1, 2], dtype='int64')

In [16]:
df["magic"] = df.省份 == "上海"

In [17]:
df

    人口    年份  省份  财政赤字  magic
0  0.8  2015  上海     1   True
1  1.2  2016  浙江     2  False
2  1.3  2017  江苏     3  False

In [18]:
# 删除一列
del df['magic']
df

    人口    年份  省份  财政赤字
0  0.8  2015  上海     1
1  1.2  2016  浙江     2
2  1.3  2017  江苏     3

In [19]:
df.columns

Index(['人口', '年份', '省份', '财政赤字'], dtype='object')

In [4]:
# 嵌套字典创建DataFrame:第一次key作为列索引，第二层key作为行索引
ddict = {
    '上海':{2000:23,2001:24,2002:25,},
    '江苏':{2000:31,2001:32,2002:33,}
}
df1 = DataFrame(ddict)
df1

      上海  江苏
2000  23  31
2001  24  32
2002  25  33

In [30]:
df1.T # 转置

    2000  2001  2002
上海    23    24    25
江苏    31    32    33

In [32]:
# 为行和列添加说明注释
df1.columns.name = "省份"
df1.index.name="年份"
df1

省份    上海  江苏
年份
2000  23  31
2001  24  32
2002  25  33

In [33]:
# 获取DataFrame所有值
df1.values

array([[23, 31],
       [24, 32],
       [25, 33]], dtype=int64)

In [ ]:
# 在DataFrame当中获取得到的一列数据就是一个series；
# 可以把series看成DataFrame的组成单位