In [15]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# 字符串形式的日期
datestr = ['7-6-2011','8-6-2011']

In [3]:
# 用pandas将字符串形式日期转换成时间序列
pd.to_datetime(datestr)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [7]:
idx = pd.to_datetime(datestr+[None])
idx
# NaN not a number
# NaT not a time

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [10]:
idx[2]

NaT

In [12]:
mask = pd.isnull(idx)
mask

array([False, False,  True])

In [14]:
idx[~mask]

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [19]:
# 用pandas创建一组时间日期数据：
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [17]:
ts = Series(np.random.randn(6),index=dates)
ts

2011-01-02    2.036718
2011-01-05    2.166042
2011-01-07   -0.312501
2011-01-08    0.127661
2011-01-10    1.411488
2011-01-12    0.221776
dtype: float64

In [18]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [20]:
ts['1/10/2011']

1.4114875710809716

In [21]:
ts['20110110']

1.4114875710809716

In [22]:
ts['2011-1']

2011-01-02    2.036718
2011-01-05    2.166042
2011-01-07   -0.312501
2011-01-08    0.127661
2011-01-10    1.411488
2011-01-12    0.221776
dtype: float64

In [24]:
ts['20110112']

0.22177595049021853

In [32]:
#通过pd.date_range()方法创建一组时间日期序列
long_str = Series(np.random.randn(1000),index=pd.date_range("1/1/2000",periods=1000))
long_str

2000-01-01    0.410864
2000-01-02   -1.398126
2000-01-03    0.525091
2000-01-04   -1.097645
2000-01-05    0.995871
2000-01-06    0.497850
2000-01-07   -0.443476
2000-01-08   -0.659073
2000-01-09    0.806175
2000-01-10    0.602941
2000-01-11    1.003053
2000-01-12    0.088293
2000-01-13    0.838328
2000-01-14    1.044688
2000-01-15   -0.893214
2000-01-16   -1.541580
2000-01-17   -1.552122
2000-01-18    0.041828
2000-01-19   -0.694368
2000-01-20    1.003897
2000-01-21   -0.595770
2000-01-22    0.317260
2000-01-23   -0.098809
2000-01-24    0.297439
2000-01-25   -0.021115
2000-01-26    0.781872
2000-01-27    1.706013
2000-01-28   -0.729103
2000-01-29   -1.809776
2000-01-30    1.171225
                ...
2002-08-28    0.435922
2002-08-29   -0.508795
2002-08-30   -0.203353
2002-08-31   -0.950158
2002-09-01   -1.057597
2002-09-02   -0.229895
2002-09-03   -0.318224
2002-09-04    0.798233
2002-09-05   -0.750850
2002-09-06   -1.096339
2002-09-07   -0.166289
2002-09-08    0.243698
2002-09-09    0.434337
2002-09-10    1.776257
2002-09-11   -0.651147
2002-09-12   -0.502119
2002-09-13    0.184670
2002-09-14   -1.851355
2002-09-15    1.347749
2002-09-16    1.108258
2002-09-17   -2.495338
2002-09-18   -1.007152
2002-09-19    0.308423
2002-09-20    0.214308
2002-09-21    1.033487
2002-09-22    0.858073
2002-09-23    0.021489
2002-09-24   -0.582743
2002-09-25   -0.602059
2002-09-26    0.906494
Freq: D, Length: 1000, dtype: float64

In [31]:
# 获取某一年的所有数据
long_str['2001']
# 获取某一个月的所有数据
long_str['2001-12']

2001-12-01    1.508399
2001-12-02   -0.253353
2001-12-03    0.656978
2001-12-04   -0.009118
2001-12-05   -0.033261
2001-12-06   -0.229324
2001-12-07   -0.403083
2001-12-08    0.062626
2001-12-09    1.178826
2001-12-10   -3.319067
2001-12-11   -0.438174
2001-12-12    0.223807
2001-12-13    2.102218
2001-12-14    1.036141
2001-12-15   -1.207578
2001-12-16   -0.465882
2001-12-17    0.165804
2001-12-18    0.335999
2001-12-19    0.057009
2001-12-20    0.166959
2001-12-21   -0.537766
2001-12-22   -0.250680
2001-12-23   -0.506143
2001-12-24   -0.730670
2001-12-25    0.465316
2001-12-26   -0.164943
2001-12-27   -1.662996
2001-12-28   -1.537429
2001-12-29   -0.936613
2001-12-30    0.138762
2001-12-31    0.611695
Freq: D, dtype: float64

In [34]:
# 创建指定时间范围
index = pd.date_range('4/1/2012','6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [36]:
# 指定pd.date_range()的开始和结束日期创建时间日期序列
dataindex = pd.date_range(start="4/1/2012",periods=20) # 以2012年4月1日开始向后生产
dataindex

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [37]:
dateindex = pd.date_range(end='4/1/2012',periods=20)# 以2012年4月1日结束向前生产
dateindex

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')